<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include('../monitoring_head') %>
    <link rel='stylesheet' href='/CSS/nav.css'/>
    <link rel='stylesheet' href='/CSS/dashboard.css'/>
</head>
<body>
    <div class='dashboard__container'>
        <div class='nav-wrapper'>
            <%- include('iot_Nav_new') %>
        </div>
        <div class='dashboard'>
            <div class='dashboard-top'>
                <div class='title'>Dashboard</div>
                <div class='user'>JH KIM</div>
            </div>
            <div class='dashboard-main'>
                <div class="graph"></div>
            </div>
        </div>
    </div>
</body>
</html>