<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel='stylesheet' href='/CSS/nav.css'>
</head>

<body>
    <nav class='nav-bar'>
        <div class='top'>
            <img id='logo-img' src='/Image/inven_logo.png' alt='logo' />
            <div class='items-wrapper'>
                <div class='item-category'>Main Menu</div>
                <ul>
                    <li class='item'>
                        <img class='icon-img' src='/Image/Chart_fill.png' alt="chart_fill">
                        <div>Dashboard</div>
                    </li>
                    <li class='item'>
                        <img class='icon-img' src='/Image/User_box.png' alt="user_box">
                        <div>My WareHouse</div>
                    </li>
                    <li class='item'>
                        <img class='icon-img' src='/Image/Chart_alt.png' alt="chart_alt">
                        <div>Analytics</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class='bottom'>
            <img id='help-img' src='/Image/help_logo.png' alt='help' />
            <div class='help'>Need Help with AutoIN</div>
            <div class='contact-btn'>Contact Us</div>
        </div>
    </nav>
</body>

</html>